#
# Data7 secrets.
#
# Feel free to adapt this file given your needs and environment.
#

# ---- DEFAULT ---------------------------------
default:
  # DATABASE_URL: "sqlite+aiosqlite:///example.db"

# ---- PRODUCTION ------------------------------
production:
  # DATABASE_URL: "sqlite+aiosqlite:///example.db"

#
# /!\ FEEL FREE TO REMOVE ENVIRONMENTS BELOW /!\
#
# ---- DEVELOPMENT -----------------------------
development:
  DATABASE_URL: "sqlite+aiosqlite:///db/development.db"

# ---- TESTING ---------------------------------
testing:
  DATABASE_URL: "sqlite+aiosqlite:///db/tests.db"
