#
# Data7 application general settings
#

# ---- GLOBAL ----------------------------------
global:
  # The base url path for dataset urls
  datasets_root_url: "/d"

  # Database connection pool
  db_pool_check: true
  db_pool_recycle: 3600
  db_pool_size: 5
  db_pool_max_overflow: 10

  # Pandas chunks
  chunk_size: 5000
  schema_sniffer_size: 1000
  default_dtype_backend: pyarrow

  # Pyinstrument
  profiler_interval: 0.001
  profiler_async_mode: enabled

# ---- DEFAULT ---------------------------------
default:
  # Set debug to true for development, never for production!
  debug: false

  # Server
  # host:
  # port:

  # Sentry
  sentry_dsn: null
  sentry_enable_tracing: true
  sentry_traces_sample_rate: 1.0
  sentry_profiles_sample_rate: 1.0

  # Pyinstrument
  profiling: false

# ---- PRODUCTION ------------------------------
production:
  execution_environment: production

  # Set debug to true for development, never for production!
  debug: false

  # Server
  # host: data7.example.com
  # port: 8080

  # Sentry
  # sentry_dsn:
  # sentry_enable_tracing: true
  # sentry_traces_sample_rate: 1.0
  # sentry_profiles_sample_rate: 1.0

  # Pyinstrument
  profiling: false

#
# /!\ FEEL FREE TO REMOVE ENVIRONMENTS BELOW /!\
#
# ---- DEVELOPMENT -----------------------------
development:
  execution_environment: development
  debug: true

  # Server
  host: "127.0.0.1"
  port: 8000

  # Pyinstrument
  profiling: true

# ---- TESTING ---------------------------------
testing:
  execution_environment: testing
