#
# Data7 application general settings
#

# ---- GLOBAL ----------------------------------
global:
  # The base url path for dataset urls
  datasets_root_url: "/d"

  # Parquet
  parquet_batch_size: 100

# ---- DEFAULT ---------------------------------
default:
  # Set debug to true for development, never for production!
  debug: false

  # Server
  # host:
  # port:

  # Sentry
  sentry_dsn: null
  sentry_traces_sample_rate: 1.0

# ---- PRODUCTION ------------------------------
production:
  execution_environment: production

  # Set debug to true for development, never for production!
  debug: false

  # Server
  # host: data7.example.com
  # port: 8080

  # Sentry
  # sentry_dsn:
  # sentry_traces_sample_rate: 1.0

#
# /!\ FEEL FREE TO REMOVE ENVIRONMENTS BELOW /!\
#
# ---- DEVELOPMENT -----------------------------
development:
  execution_environment: development
  debug: true

  # Server
  host: "127.0.0.1"
  port: 8000

# ---- TESTING ---------------------------------
testing:
  execution_environment: testing
