name: Chore checks

on:
  push:
    branches-ignore: ["main"]
  pull_request:
    branches-ignore: ["main"]

permissions:
  contents: read

jobs:
  fixup-commits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Check absence of fixup commits
        run: |
          ! git log --pretty=format:%s | grep 'fixup!'

  check-changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Check that a CHANGELOG has been modified in the current branch
        run: |
          git diff --name-only origin/main | grep CHANGELOG

  lint-changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Check CHANGELOG max line length
        run: |
          test $(cat CHANGELOG.md | grep -Ev "^\[.*\]: https://github.com/jmaupetit/data7" | wc -L) -le 80
