name: CLI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  commands:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install data7
        run: uv tool install .
      - name: Init data7 project
        run: |
          mkdir /tmp/data7
          cd /tmp/data7
          data7 init
      - name: Download test database
        working-directory: /tmp/data7
        run: |
          mkdir db
          curl -Ls -o db/development.db \
            https://github.com/lerocha/chinook-database/releases/download/v1.4.5/Chinook_Sqlite.sqlite
      - name: Check configuration
        working-directory: /tmp/data7
        env:
          ENV_FOR_DYNACONF: development
        run: data7 check
      - name: Run the server
        working-directory: /tmp/data7
        env:
          ENV_FOR_DYNACONF: development
        run: timeout --preserve-status 5 data7 run --reload
      - name: Stream datasets
        working-directory: /tmp/data7
        env:
          ENV_FOR_DYNACONF: development
        run: |
          data7 stream csv invoices > /dev/null
          data7 stream parquet invoices > /dev/null
          data7 stream csv tracks > /dev/null
          data7 stream parquet tracks > /dev/null
